
@model MVC__14_dekabr.Models.Orders
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni</h2>
@*<form method="post">
        <div class="form-group">
            <label>Yeni istifadeci adi</label>
            <input type="text" name="ShipName" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Elave et</button>
    </form>*@

@using (Html.BeginForm("Yeni", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ShipName)
        @Html.TextBoxFor(m => m.ShipName, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.OrderID)
    <button type="submit" class="btn btn-success">Qeyd Et</button>
}
